$bg: #ffffff;
$bg-2: #dddddd;
$bg-3: #eeeeee;
$buttonColors: #409EFF;

//direction
$rightToLeft: true !default; // Can be overridden elsewhere
$cursor: #000000;

$labelButton: rgba(0,0,0,.3);

$shookaGreen: #68BD0A ;
$dark_gray: #7D7D7D;
$lightBlue: #00A9FF;
$gray_background: #F2F2F2;
$darkest_gray: #4D4D4D;
$light_gray: #F7F7F7;
$background_color: #FFFFFF;
$rightToLeft: true !default; // Can be overridden elsewhere
$shooka_orange:#F79226;