.conference-fragment {
    width: 100%;
    height: 100%;
    background-color: #292933;
    position: relative;
    overflow: hidden;
}

.meeting-title--fragment {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    color: white;
    font-size: 1.2rem;
    direction: rtl;
    width: 100vw;
    background-color: #7b7b7b;
    opacity: 0.6;
}

.conference-footer__meeting-title__mobile {
    /*display: flex;*/
    /*justify-content: center;*/
    position: relative;
    top: 0.7rem;
    align-items: center;
    height: 100%;
    color: white;
    direction: rtl;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 14rem;
}

.horizontal-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vertical-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.other-videos--normal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-videos--normal-width-side-bar {
    width: calc(100vw - 36.5rem);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-videos--normal-width-sharing {
    width: 40rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-videos--normal-width-side-bar-and-sharing {
    width: 35rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-videos--normal__mobile {
    width: 100%;
    height: calc(100% - 2rem);
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-y: auto;
}

.other-videos--normal__mobile-width-sharing {
    width: 100%;
    height: calc(60% - 8.3rem);
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-y: auto;
}

.other-videos--shared {
    width: 32rem;
    height: 100%;
}

.other-videos--fragment {
    width: calc(100% - 34.5rem);
    height: 100%;
}

.other-videos__upper--normal {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.other-videos__flat {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.layout-changed-leave-active {
    position: absolute;
}

.layout-changed-move {
    transition: transform 0.5s;
}

.header-toggling-buttons-rtl {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.header-toggling-buttons-ltr {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.footer {
    width: 100%;
    height: 6.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: purple;
}

.my-notification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    height: 8.8rem;
    font-size: 1.4rem;
    width: fit-content;
    min-width: 20.8rem;
    border: solid 0 #dadce0;
    border-radius: 0.6rem;
    background-color: whitesmoke;
    direction: rtl;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 1.4rem 0 1.8rem;
    position: relative;
    z-index: 100000 !important;

}

.Chat__icon__notif {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.Chat__icon__notif-en {
    width: 3.2rem;
    height: 3.2rem;
    position: relative;
    margin-right: 0.6rem;
}

.leave-modal--container {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
}

.leave-modal-terminate {
    color: #e87e7e;
    cursor: pointer;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.leave-modal-exit {
    color: rgb(91, 158, 187);
    cursor: pointer;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.leave-modal-exit:hover {
    color: #087cef;
}

.leave-modal-terminate:hover {
    color: red;
}

.close-pdf-share-model {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.admit--container-actions {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    gap: 5rem;
    height: 5rem;
    align-items: center;
    justify-content: space-around;
    margin: 2rem;
}

.admit--container-actions > span {
    color: #00A9FF;
    cursor: pointer;
    font-size: 1.3rem;
}

.admit--container-actions > span:hover {
    color: #175f83;
}

.moderator-permission-modal-topic {
    margin-top: 2rem;
}

.header-terminate-container {
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-terminate-container-ltr {
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.terminate__header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 37rem;
    height: 5rem;
}
.terminate__private--room{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35rem;
    height: 5rem;
}
.terminate__private--room > span{
    color: #669df6;
    cursor: pointer;
}
.terminate__private--room > span:hover{
    color: #2954a1;
}
.header-close-icon__waiting-room {
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.8rem;
    align-items: center;
    justify-content: space-between;
}

.tabs_underline__waiting-room {
    position: absolute;
    bottom: 0;
    border: 0.1rem solid #1B76FF;
    right: 0;
    transition: 0.2s;
}

.tabs_underline__waiting-room__ltr {
    position: absolute;
    bottom: 0;
    border: 0.1rem solid #1B76FF;
    left: 0;
    transition: 0.2s;
}

.waiting-room-header-tabs-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    -webkit-box-shadow: 0px 5px 8px -7px #000000, 0px 4px 8px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 5px 8px -7px #000000, 0px 4px 8px 0px rgba(0, 0, 0, 0);
    overflow-x: auto;
}

.waiting-room-header-tabs-container__ltr {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-box-shadow: 0px 5px 8px -7px #000000, 0px 4px 8px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 5px 8px -7px #000000, 0px 4px 8px 0px rgba(0, 0, 0, 0);
    overflow-x: auto;
}

.header-close-icon__waiting-room--actions {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: flex-end;
}

.proceedings-notification__container {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2.4rem 1.6rem 1.6rem 1.6rem;
    position: absolute;
    bottom: 1.6rem;
    right: 2.4rem;
    z-index: 100;
    background-color: white;
    border-radius: 0.8rem;
    direction: rtl;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.proceedings-notification__container > div:first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.6rem;
}

.proceedings-notification__container > div:last-child {
    font-size: 1.3rem;
}

.proceedingsNotification-enter-active {
    animation: proceedingsNotification .3s ease-out
}

.proceedingsNotification-leave-active {
    animation: proceedingsNotification .3s ease-in reverse;
}

@keyframes proceedingsNotification {
    from {
        opacity: 0;
        transform: scale(0.4, 0.4);
    }
    to {
        opacity: 1;


    }
}

.confirm-proceedings-modal-header {
    width: 40rem;
    height: 5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.1rem solid #DCDADA;
}

.confirm-proceedings-modal-body {
    width: 40rem;
    border-bottom: 0.1rem solid #DCDADA;
    font-size: 1.6rem;
    font-weight: 400;
    justify-content: flex-start;
    padding: 0 0 3rem 0;
}

.confirm-proceedings-modal-action {
    width: 40rem;
    height: 5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.container-presenter-agenda {
    width: 95%;
    display: flex;
    position: absolute;
    top: 1rem;
    z-index: 100;
    gap: 1.6rem;
}

.presenter-agenda__title-hovered {
    max-width: 100%;
    padding: 0.8rem;
    border-radius: 0.8rem;
    background-color: rgba(12, 12, 12, 0.2);
    font-size: 1.2rem;
    direction: rtl;
    color: white;
}

.presenter-agenda__title {
    max-width: 40rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    background-color: rgba(12, 12, 12, 0.2);
    font-size: 1.2rem;
    direction: rtl;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.progress-agenda__title-hovered {
    max-width: 100%;
    padding: 0.8rem;
    border-radius: 0.8rem;
    background-color: rgba(12, 12, 12, 0.2);
    font-size: 1.2rem;
    direction: rtl;
    color: white;
}

.progress-agenda__title {
    font-size: 1.2rem;
    color: white;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    direction: rtl;
    text-align: center
}

.container-progress-bar-for-agenda {
    width: 95%;
    display: flex;
    position: absolute;
    top: 1rem;
    z-index: 100;
}

.progress-element-agenda {
    background-color: rgba(12, 12, 12, 0.2);
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: relative;
    display: flex;


}

.line-progress-bar {
    position: absolute;
    width: 100%;
    height: 0;
    top: 50%;
    border: 1px solid black;
}
.control-meeting-actions__container {
    position: fixed;
    bottom: 0;
    width: 100%;
    animation: example 0.5s;
}
.control-meeting-actions__container-hide {
    position: fixed;
    bottom: -65px;
    width: 100%;
    animation: example2 0.3s;
}
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.3s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
@keyframes example {
    0%   {
        bottom:-65px;}
    100% {
        bottom:0;}
}
@keyframes example2 {
    0%   {
        bottom:0;
    }
    100% {
        bottom:-65px;
    }
}

@media (max-width: 1280px) {
    .other-videos--normal-width-sharing {
        width: 35rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .other-videos--normal-width-side-bar-and-sharing {
        width: 30rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 860px) {
    .header-close-icon__waiting-room--actions {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 630px) {
    .confirm-proceedings-modal-header {
        width: 34rem;
    }

    .confirm-proceedings-modal-body {
        width: 34rem;
    }

    .confirm-proceedings-modal-action {
        width: 34rem;
    }
}

@media (max-width: 480px) {
    .leave-modal--container {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
        height: 80px;
        width: 80vw;

    }

    .leave-modal-terminate {
        font-size: 1.4rem;
    }

    .leave-modal-exit {
        font-size: 1.4rem;
    }

    .header-terminate-container {
        font-size: 1.4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80vw;
    }

    .header-terminate-container-ltr {
        font-size: 1.4rem;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}